.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #0f2364;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}


