<div class="head">
  <div class="container1">
    <div class="objectif">
        <div class="title" [appAnimation]="2">
            <h1>How to contact me ?</h1>
        </div>
        <p>I am open to any encouragement, contribution and/or discussion of mobile and web 
            projects too. Contact me via email or from my linkedIn account.</p>
    </div>

     <div class="media">
        <div class="contain">
            <div class="tit">
                <h2>Contacts</h2>
            </div>
            <div class="subtitle">
                <h3>Email</h3>
            </div>
            <p><a href="mailto:israeltientcheu@gmail.com">israeltientcheu@gmail.com</a></p>
            <div class="subtitle">
                <h3>Social media !</h3>
            </div>
            <p><a href="https://github.com/TilStack">GitHub</a></p>
            <p><a href="https://twitter.com/israelTientcheu">X (Twitter)</a></p>
            <p><a href="www.linkedin.com/in/israel-tientcheu-12278b298">linkedIn</a></p>
            <p><a href="https://www.facebook.com/israel.tientcheu">Facebook</a></p>
            <p><a href="#">Medium</a></p>
            <p><a href="#">My Bento</a></p>
        </div>
     </div>
  </div>
</div>