<div class="head">
    <div class="container1">
        <div class="worktitle">
            <div class="title">
                <h1>All my Quotes ?</h1>
            </div>
            <p>
                I really like creating new philosophical ideas and thoughts. So I usually write down my thoughts so I don't forget them. Then browse my creations.
            </p>
        </div>
        <div class="citations">
            <div class="search">
                <input type="text" placeholder="Can you search....">
                <fa-icon [icon]="faSearch" (click)="search()"></fa-icon>
            </div>
            <div class="content">
                <h1 class="heading"></h1>
                <div class="box-content">
                    <div class="box">
                        <img src="" alt="">
                        <a href="/about">TIL Stack</a>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore.</span>
                        <div class="like"><fa-icon [icon]="faHeart"></fa-icon></div>
                    </div>    
                    <div class="box">
                        <img src="" alt="">
                        <a href="/about">TIL Stack</a>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore.</span>
                        <div class="like"><fa-icon [icon]="faHeart"></fa-icon></div>
                    </div>    
                    <div class="box">
                        <img src="" alt="">
                        <a href="/about">TIL Stack</a>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore.</span>
                        <div class="like"><fa-icon [icon]="faHeart"></fa-icon></div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>