<div class="head">
    <div class="container1">
        <div class="worktitle">
            <div class="title">
                <h1>All my Quotes ?</h1>
            </div>
            <p>
                I really like creating new philosophical ideas and thoughts. So I usually write down my thoughts so I don't forget them. Then browse my creations.
            </p>
        </div>
        <div class="citations">
            <div class="search">
                <input type="text" placeholder="Can you search....">
                <fa-icon [icon]="faSearch" (click)="search()"></fa-icon>
            </div>
        </div>
    </div>
</div>