//Responsive Mobile
@media screen and (min-width:350px) and (max-width:500px){
    .container1 {        
        .worktitle{
            width: 100%;
            .title h1{
                width: 100%;
                font-size: 2.40rem;
            }

            p{
                font-size: 1em;
            }
        }
        .citations{
            .search{
                justify-content: flex-start;

                input{
                    width: 80%;
                }
                fa-icon{
                    font-size: 15px;
                    border: 0;
                    background-color: transparent;
                }
            }
            .content{
                margin-top: 20px;
                .box-content{
                    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
                    .box{
                        a{
                            font-size: 0.7rem;
                        }
                        span{
                            font-size: 1rem;
                        }
                        .foot{
                            .like{
                                fa-icon{
                                    font-size: 10px;
                                }
                                .number{
                                    margin-top: 10px;
                                    font-size: 0.8rem;
                                }
                            }
                            .date{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:340px){
    .container1 {
        .worktitle{
            width: 100%;
            .title h1{
                font-size: 2.40rem;
            }
            p{
                font-size: 1em;
            }
        }
        .citations{
            .search{
                justify-content: flex-start;

                input{
                    width: 80%;
                }
                fa-icon{
                    font-size: 15px;
                    border: 0;
                    background-color: transparent;
                }
            }
            .content{
                margin-top: 20px;
                .box-content{
                    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
                    .box{
                        a{
                            font-size: 0.7rem;
                        }
                        span{
                            font-size: 1rem;
                        }
                        .foot{
                            .like{
                                fa-icon{
                                    font-size: 10px;
                                }
                                .number{
                                    margin-top: 10px;
                                    font-size: 0.8rem;
                                }
                            }
                            .date{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:160px) and (max-width:300px){
    .container1 {
        .worktitle{
            width: 100%;
            .title h1{
                font-size: 2.40rem;
            }
            p{
                font-size: 1em;
            }
        }
        .citations{
            .search{
                justify-content: flex-start;

                input{
                    width: 80%;
                }
                fa-icon{
                    font-size: 15px;
                    border: 0;
                    background-color: transparent;
                }
            }
            .content{
                margin-top: 20px;
                .box-content{
                    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
                    .box{
                        a{
                            font-size: 0.7rem;
                        }
                        span{
                            font-size: 1rem;
                        }
                        .foot{
                            .like{
                                fa-icon{
                                    font-size: 10px;
                                }
                                .number{
                                    margin-top: 10px;
                                    font-size: 0.8rem;
                                }
                            }
                            .date{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}