.head {
    font-weight: 900;
    height:100%;
    border: none;
    background-image: linear-gradient(#0f246318 0.9px, transparent 0.9px), linear-gradient(to right, #0f246313 0.9px, rgba(248, 252, 252, 0.74) 0.9px);
    background-size: 18px 18px;
}

.container1{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
 }

.worktitle{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.worktitle .title h1{
    font-weight: 500;
    font-size: 4.40rem;
    line-height: 3.55rem;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid  black ;
}

.worktitle p{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    gap: 1em;
    font-size: 1.2em;
    flex-wrap: wrap;
    letter-spacing: 3px;
}

.citations{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;

    .search{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        input{
            padding: 10px;
            margin-right: 5px;
            border-radius: 5px;
        }

        fa-icon{
            font-size: 20px;
            font-weight: bold;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: rgb(224, 221, 221);
            border: 0.5px solid black;
            cursor: pointer;
            padding: 12px;

        }

        fa-icon:hover{
            box-shadow: #0f246313;
            color: orange;
            font-weight: bold;
        }
    }

    .content{
        margin-top: 5%;
        justify-content: center;
        .box-content{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
            gap: 15px;

            .box{
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
                border-radius: 10px;
                background: #fff;
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                a{
                    font-size: 1.1rem;
                    cursor: pointer;
                }

                span{
                    font-style: italic;
                    font-weight: normal;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                }

                .foot{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .like{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 30px;
                        fa-icon{
                            margin-top: 10px;
                            cursor: pointer;
                            height: auto;
                            font-size: 25px;
                            width: auto;
                        }
    
                        fa-icon:hover{
                            color: red;
                            font-size: 30px;
                        }
    
                        .number{
                            margin-top: 5px;
                            margin-left: 10px;
                            color: grey;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                       
                    }
                    .date{
                        font-style: normal;
                        font-style: normal;
                        font-weight:500 ;
                        font-size: 1rem;
                    }
                }
            }
            .box:hover{
                box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
                transform: scale(1.03);
            }
        }
    }
    
}