<div class="head">
  <div class="container1">
    <div class="worktitle">
      <div class="title">
        <h1>{{ "citation_container1_worktitle_title_h1" | translate }}</h1>
      </div>
      <p [appAnimation]="2">
        {{ "citation_container1_worktitle_p1" | translate }}
      </p>
    </div>
    <div class="citations">
      <div class="search">
        <input type="text" placeholder="Can you search...." />

        <i class="pi pi-search" style="font-size: 2.5rem"></i>
        <!-- <fa-icon [icon]="faSearch" (click)="search()"></fa-icon> -->
      </div>
      <div class="content">
        <h1 class="heading"></h1>
        <div class="box-content" [appAnimation]="2">
          <div class="box">
            <img src="" alt="" />
            <a href="/about">UNDESCORE</a>
            <span inert>{{
              "citation_container1_citations_content_box0_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">19/05/2024</span>
            </div>
          </div>
          <div class="box">
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box1_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">01/01/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1791446198827557137'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box2_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">17/05/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1788477352093090092'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box3_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">09/05/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1787545416235393479'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box4_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">06/05/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1783619583347175877'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box5_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">25/04/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1783440365556580601'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box6_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">25/04/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1783440365556580601'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box7_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">22/04/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1791446198827557137'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box8_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">15/02/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1791446198827557137'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box9_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">28/03/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1771899447435198503'
              )
            "
          >
            <img src="" alt="" />
            <a href="#">Rev Minyem Phillipe</a>
            <span inert>{{
              "citation_container1_citations_content_box10_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number }}</div>
              </div>
              <span class="date">24/03/2024</span>
            </div>
          </div>
          <div
            class="box"
            (click)="
              navigateTo(
                'https://x.com/israelTientcheu/status/1763232242569015723'
              )
            "
          >
            <img src="" alt="" />
            <a href="/about">TIL Stack</a>
            <span inert>{{
              "citation_container1_citations_content_box11_span" | translate
            }}</span>
            <div class="foot">
              <div class="like">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                <div class="number">{{ number2 }}</div>
              </div>
              <span class="date">19/02/2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
