.head {
    font-weight: 900;
    height:100%;
    border: none;
    background-image: linear-gradient(#0f246318 0.9px, transparent 0.9px), linear-gradient(to right, #0f246313 0.9px, rgba(248, 252, 252, 0.74) 0.9px);
    background-size: 18px 18px;
}
 .container1{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
 }

.whoamI{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.whoamI .title h1{
    font-weight: 500;
    font-size: 4.40rem;
    line-height: 3.55rem;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid  black ;
}

.whoamI p{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    gap: 1em;
    font-size: 1.2em;
    flex-wrap: wrap;
    letter-spacing: 3px;
}
.picture{
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.picture .contain{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.picture p{
  gap: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.setup{
  margin-top: 8%;

  .title{
    display: flex;
    justify-content: flex-start;  
    p{
      border: 1px solid #000;
      padding: 15px;      
      margin-bottom: 10px;
      text-transform: uppercase;
      border-radius: 20px;
      letter-spacing: 1.5px;
      font-weight: 200;
    }
  }
  
  .contain{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;

    .slider img{
      width: 300px;
      height: 400px;
      object-fit: cover;
      border-radius: 15px;
      transform: rotate(-3deg);
    }

    .caracteristiques{
      width: 40%;
      .item{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
        .title{
          width: 50%;
          border-bottom: 0.2px solid rgb(190, 190, 190);
        }
        
        .content-item{
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          padding-left: 30px;
          padding-top: 10px;

          span{
            font-weight: normal;            
          }
        }
      }
    }
  }
} 

  /*---- Languages ----*/
  
  // .language{
  //   margin-top: 5%;
  //   padding: 10px;
  // }
  
  // .language .title{    
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //     h1{
  //     font-weight: 500;
  //     font-size: 2.40rem;
  //     margin-bottom: 30px;
  //     border: 1px solid #000;
  //     border-radius: 30px;
  //     padding: 20px;
  //   }
  // }
  
  // .language .contain{
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
  
  // .language .contain .item{
  //   display: flex;
  //   position: relative;
  //   flex-direction: column;
  //   padding: 20px;
  //   border: 0.5px solid #888;
  //   border-radius: 15px;
  //   height: auto;
  //   width: 300px;
  //   margin: 10px;
  //   /*box-shadow: 2px 1px 1px 2px rgba(59, 59, 59, 0.096);*/
  //   transition: 1s;
  // }
  // .language .contain .item:hover{
  //   transform: scale(1.07) translateZ(0px);
  //   cursor: pointer;
  // }
  .item p{
    padding-top: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .item .sub{
    font-weight: 300;
    font-size: 12px;
  }
  
.preferences{
  margin-top: 5%;

  .title {
    display: flex;
    justify-content: center;

    h1{
      font-weight: inherit;
      opacity: .5;
      font-size: 3.40rem;
      line-height: 3.55rem;
      padding-bottom: 2.5rem;
      width: 60%;
      padding-top: 2rem;
      text-align: center;
    }
  }

  .content{
    .item{
      margin-top: 3%;
      width: 100%;
      .header{
        border-bottom: 0.5px solid black;
        width: 50%;
        padding: 10px;
      }

      .item-content {
        margin-top: 2%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
        gap: 15px;
      
          .box{
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            border-radius: 10px;
            background: #fff;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            a{
                font-size: 1.1rem;
                cursor: pointer;
            }

            span{
                font-style: italic;
                font-weight: normal;
                font-size: 1.3rem;
                letter-spacing: 1px;
            }

            .foot{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .like{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 30px;
                    fa-icon{
                        margin-top: 10px;
                        cursor: pointer;
                        height: auto;
                        font-size: 25px;
                        width: auto;
                    }

                    fa-icon:hover{
                        color: red;
                        font-size: 30px;
                    }

                    .number{
                        margin-top: 5px;
                        margin-left: 10px;
                        color: grey;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                  
                }
                .date{
                    font-style: normal;
                    font-style: normal;
                    font-weight:500 ;
                    font-size: 1rem;
                }
            }
        }
        .box:hover{
            box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
            transform: scale(1.03);
        }
      }     

      a{
        color: rgb(2, 2, 49);
        display: flex;
        text-align: center;
        justify-content: center;
      }

      .card-book{
        border-left: 4px solid black;
        height: auto;
        padding: 10px;
        border-radius: 15px;

        span{
          font-weight: 400;
        }    
        
        .status{
          color: green;
          font-weight: bold;
        }
      }


      .card-article{
        width: 600px;
        background-color: antiquewhite;
        height: auto;
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 0.5px solid grey;
        border-radius: 8px;
        .content-article{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .site{
            font-size: 16px;
          }

          .right1{
            border-left: 5px solid grey;
            padding-left: 5px;
            width: 70%;
            
            .titre{
              font-size: 18px;
              text-transform: none;
            }

            .desc{
              font-size: 15px;
              font-weight: 500;
            }
          }

          .left1 img{
            border-radius: 10px;  
            padding-left: 10px;
            height: 150px;
            width: 150px;
          }
        }
      }
      
    }
  }
}
/*Pictures */

.snip1504 {
  position: relative;
  overflow: hidden;
  min-width: 30%;
  max-width: 40%;
  width: 100%;
  color: #000000;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px; 
  transform: rotate(5deg);
  text-align: justify;
}

.snip1504 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1504 img {
  vertical-align: top;
  max-width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  object-fit: cover;
}


.snip1504 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1504 h3,
.snip1504 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1504 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip1504 h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1504 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1504:hover > img,
.snip1504.hover > img {
  opacity: 0.1;
}

.snip1504:hover h3,
.snip1504.hover h3,
.snip1504:hover h5,
.snip1504.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip1585 {
  background-color: rgb(41, 46, 57);
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(46, 52, 64,  0.5);
  border-top: 50px solid rgba(46, 52, 64, 0.5);
  border-bottom: 50px solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


/* Social Media*/

.social-media{
  .title{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;

    h1{
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 3.5rem;
      color: grey;
    }
  }

  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px;

    a{
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    i{
      margin-right: 10px;
    }

    a:hover{
      font-weight: bold;
    }
  }
}