<div class="head">
    <div class="container1">
        <div class="whoamI">
            <div class="title"  [appAnimation]="2" >
                <h1>What about me ?</h1>
            </div>
            <p  [appAnimation]="3" > My parents gave me the name TIENTCHEU ISRAEL and I am also known as TIL STACK (TIENTCHEU ISRAEL FULLSTACK).
            For my little story, I am a fullstack developer from Cameroon who really likes mobile applications but also do the Web app. I am passionate about research, teamwork and above all 
            the desire to develop my skills day by day.</p>
        </div> 
        <div class="picture">
            <div class="contain">
                <div class="rule"  [appAnimation]="3" >
                    <p> My tof since 27/12/2023<fa-icon [icon]="faArrowRight"></fa-icon></p>
                 </div>
                 <figure class="snip1504"  [appAnimation]="3" >
                     <img [appAnimation]="2" src="../../assets/img/2.png" alt="tilstack">
                     <figcaption>
                         <h3>TIENTCHEU ISRAEL</h3>
                         <h5>Mobile developer</h5>
                     </figcaption>
                     <a href="#"></a>
                 </figure>
            </div>         
        </div> 
        <div class="language">
            <div class="title"  [appAnimation]="2" >
                <h1>My Languages ?</h1>
            </div>
            <div class="contain">
                <div class="item" [appAnimation]="2">
                    <div class="text"> <p>French (Native)</p></div>
                    <div class="sub"><p>Reading, Speaking, writing, listening</p></div>
                </div>
                <div class="item" [appAnimation]="2">
                    <div class="text"><p>English (Intermediate)</p></div>
                    <div class="sub"><p>Reading, listening</p></div>
                </div>
            </div>
        </div>
        <div class="setup">
            <div class="title"  [appAnimation]="2" >  
                <p>The different elements that I always use to do my projects and work for clients..................................................</p>            
            </div>
            <div class="contain">
                <div class="slider"[appAnimation]="2">
                    <img src="../../assets/png/mypic.png" alt="Ordinateur">
                </div>
                <div class="caracteristiques">
                    <div class="item"[appAnimation]="2">
                        <p class="title">- LAPTOP DELL </p>
                        <div class="content-item">
                            <span>Dell inc.Latitude 5490</span>
                            <span>16Go RAM, 500G ROM</span>
                            <span>Intel Core i5-8350 CPU @ 1.70Ghz $ 8</span>
                            <span>Ubuntu,Window (Dual Boot)</span>
                        </div>                      
                    </div>
                    <div class="item"[appAnimation]="2">
                        <p class="title">- Phone Techno </p>
                        <div class="content-item">
                            <span>Tecno Camon 16 S</span>
                            <span>Android 10</span>
                            <span>128GO ROM, 4GO RAM</span>
                        </div>                      
                    </div>
                    <div class="item"[appAnimation]="2">
                        <p class="title">- Casque Oraimo </p>
                        <div class="content-item">                           
                        </div>                      
                    </div>
                    <div class="item"[appAnimation]="2">
                        <p class="title">- Navigators</p>
                        <div class="content-item">
                            <span>Google</span>
                            <span>Opera</span>
                        </div>                    
                    </div>
                    <div class="item"[appAnimation]="2">
                        <p class="title">- Apps</p>
                        <div class="content-item">
                            <span>ChatGpt and Gemini (IA)</span>
                            <span>VsCode , Android Studio</span>
                            <span>Spotify , Netflix</span>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>    
        <div class="preferences">
            <div class="top">   
                <div class="title">I like some thing.</div>
            </div>
           
        </div>
    </div>   
</div>