
//Responsive mobile
@media screen and (min-width:350px) and (max-width:500px) {
 
}
@media screen and (min-width:320px) and (max-width:320px){
 .foot .text{
   font-size: 0.8em;
 }
}
@media screen and (min-width:160px) and (max-width:300px){
   h2{
       font-size: 2.5em;
   }
   .foot .text{
   font-size: 0.5em;
 }
}