<div class="head">
  <div class="container1">
    <div class="skill">
        <div class="title" >
            <h1>My Skills ?</h1>                
        </div>
        <p [appAnimation]="2">Based on my experiences in the world of development and at university, I have acquired certain skills.</p>
        <div class="contain">
            <div class="design" >
                <h3 >Design <span></span></h3>
                <div class="skill-reveal" [appAnimation]="2">
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/figma.png" alt="Figma">
                        </div>
                        <p>Figma</p>                            
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/canva.png" alt="Canvas">
                        </div>
                        <p>Canvas</p>                            
                    </div>
                </div>
            </div>
            <div class="front">
                <h3 >Front-end  <span></span></h3>
                <div class="skill-reveal" [appAnimation]="0" >
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/svg/flutter_logo.svg" alt="Flutter">
                        </div>   
                        <p>Flutter</p>                         
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/angular_logo.png" alt="Angular">
                        </div>   
                        <p>Angular</p>                         
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/svg/typescript_logo.svg" alt="Typescript">
                        </div>   
                        <p>TypeScript</p>                         
                    </div>
                </div>
            </div>
            <div class="back">
                <h3>Back-end  <span></span></h3>
                <div class="skill-reveal" [appAnimation]="2">
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/nestjs.png" alt="Nestjs">
                        </div>        
                        <p>NestJs</p>                    
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/svg/express_logo.svg" alt="Express">
                        </div>        
                        <p>ExpressJs</p>                    
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/postgresql.png" alt="Postgresql">
                        </div>        
                        <p>PostgreSql</p>                    
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/svg/nodejs_logo.svg" alt="Nodejs">
                        </div>        
                        <p>NodeJs</p>                    
                    </div>
                </div>
            </div>
            <div class="orther">
                <h3 >Other <span></span></h3>
                <div class="skill-reveal" [appAnimation]="2">
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/git.png" alt="Git">
                        </div>     
                        <p>Git/GitHub</p>                       
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/docker.png" alt="Docker">
                        </div>     
                        <p>Docker</p>                       
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/firebase.png " alt="Firebase">
                        </div>     
                        <p>Firebase</p>                       
                    </div>
                    <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/svg/trello.svg" alt="Trello">
                        </div>     
                        <p>Trello</p>                       
                    </div>
                    <!-- <div class="skill-card">
                        <div class="skill-icon">
                            <img src="../../assets/png/vercel.png" alt="Vercel">
                        </div>     
                        <p>Vercel</p>                       
                    </div> -->
                </div>
            </div>
            <div class="certification">
                <!-- <h3 [appAnimation]="2"> <span></span></h3>                     -->
            </div>
        </div>
    </div>  
  </div>
</div>