<app-splash
  [animationType]="animationTyp"
  [duration]="3"
  [animationDuration]="3"
>
</app-splash>
<header>
  <app-appBar></app-appBar>
</header>
<section class="router-outlet">
  <router-outlet></router-outlet>
  @if(pageYoffset>0){
  <div (click)="scrollToTop()" class="scroll-to-top">
    <i class="pi pi-angle-up" style="font-size: 2.5rem"></i>
    <!-- <fa-icon [icon]="faArrowUp" style="color: white; font-weight: bold;"></fa-icon>  -->
  </div>
  }
</section>
<footer>
  <app-footer></app-footer>
</footer>
