<header>
      <div class="navbar">
        <div class="logo ">
          <img src="../../assets/png/till.png" alt="">
          <a routerLink="/about">TIL Stack<b>.</b></a>
      </div>
      <ul class="links">
        <li><a routerLink="/home"[class.active]="activeLink === '/home'">{{'Home' | translate}}</a></li>
        <li><a routerLink="/about"[class.active]="activeLink === '/about'">{{'About' | translate}}</a></li>
        <li><a routerLink="/work"[class.active]="activeLink === '/work'">{{'Work'| translate}}</a></li>
        <li><a routerLink="/skills"[class.active]="activeLink === '/skills'">{{'Skills' | translate}}</a></li>
        <li><a routerLink="/citations"[class.active]="activeLink === '/citations'">{{'Citations' | translate}}</a></li>
        <li><a routerLink="/contact"[class.active]="activeLink === '/contact'">{{'Contact Me' | translate}}</a></li>
        <li><a routerLink="/blog"[class.active]="activeLink === '/blog'">{{'Blog' | translate}}</a></li>
      </ul>
      <!-- <button class="button" (click)="toggleButton()" [ngClass]="{'activ':isToggle}" id="btn">
        <span></span>
      </button>-->     
      <div class="select-menu">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">            
              <select class="form-select" (change)="ChangeLang($event)" name="" id="">
                  <option [selected]="lang==='en'" value="en">English</option>
                  <option [selected]="lang==='fr'" value="fr">French</option>
              </select>
          </li>
        </ul>
      </div>
       <div class="toggle_button" (click)="toggleMenu()">
        <fa-icon [icon]="isOpen ? faXmark :faBars"></fa-icon>
      </div>
    </div> 
    
    <div class="dropdown_menu" [ngClass]="{'open':isOpen}">
      <li><a routerLink="/home"[class.active]="activeLink === '/home'">{{'Home' | translate}}</a></li>
      <li><a routerLink="/about"[class.active]="activeLink === '/about'">{{'About' | translate}}</a></li>
      <li><a routerLink="/work"[class.active]="activeLink === '/work'">{{'Work'| translate}}</a></li>
      <li><a routerLink="/skills"[class.active]="activeLink === '/skills'">{{'Skills' | translate}}</a></li>
      <li><a routerLink="/citations"[class.active]="activeLink === '/citations'">{{'Citations' | translate}}</a></li>
      <li><a routerLink="/contact"[class.active]="activeLink === '/contact'">{{'Contact Me' | translate}}</a></li>
      <li><a routerLink="/blog"[class.active]="activeLink === '/blog'">{{'Blog' | translate}}</a></li>
    </div>
  </header>

  