<header>
    <div class="navbar">
      <div class="logo"><a routerLink="/about">TIENTCHEU ISRAEL<b>.</b></a></div>
      <ul class="links">
        <li><a routerLink="/home"[class.active]="activeLink === '/home'">Home</a></li>
        <li><a routerLink="/about"[class.active]="activeLink === '/about'">About Me</a></li>
        <li><a routerLink="/work"[class.active]="activeLink === '/work'">Work</a></li>
        <li><a routerLink="/experience"[class.active]="activeLink === '/experience'">Experiences</a></li>
        <li><a routerLink="/contact"[class.active]="activeLink === '/contact'">Contact Me</a></li>
      </ul>
      <button class="button" (click)="toggleButton()" [ngClass]="{'activ':isToggle}" id="btn">
        <span></span>
      </button>
      <div class="toggle_button" (click)="toggleMenu()">
        <fa-icon [icon]="isOpen ? faXmark :faBars"></fa-icon>
      </div>
    </div> 
    
    <div class="dropdown_menu" [ngClass]="{'open':isOpen}">
      <li><a routerLink="/home" [class.active]="activeLink === '/home'">HOME</a></li>
      <li><a routerLink="/about" [class.active]="activeLink === '/about'">ABOUT ME</a></li>
      <li><a routerLink="/work" [class.active]="activeLink === '/work'">WORK</a></li>
      <li><a routerLink="/experience" [class.active]="activeLink === '/experience'">EXPERIENCES</a></li>
      <li><a routerLink="/contact" [class.active]="activeLink === '/contact'">CONTACT ME</a></li>
    </div>
  </header>

  