<section class="head">
  <div class="container">
    <div class="wrapper1">
      <div class="cols cols0">
        <span class="topline">Hello Guy!</span>
        <h1>I'm <span class="multiText">TIENTCHEU ISRAEL</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio cupiditate tenetur numquam.</p>
        <div class="btns">
          <button>Downoald Cv</button>
          <button>Hire me</button>
        </div>
      </div>
      <div class="cols cols1">
        <div class="imgbox">
          <img src="" alt="" id="splash">
          <img src="../../assets/img/detouré.png" alt="" >
        </div>
      </div>
    </div>
  </div>
</section>