<div class="head">
    <div class="head_container" [appAnimation]="2" >
        <h1 class="animate-bounce delay-150 duration-300 ...">🌍 Hello the world ! 🌍</h1>
        <p class="debut">I'm <span>TIENTCHEU ISRAEL</span></p>
        <p class="debut2">Also often called <span>TILSTACK</span></p>
    </div>
    <div class="line"></div>
    <div class="paragraph">
        <p><span>My goal is to perform well in each project given to me.</span></p>
        <p><span>And of course improve myself with or without my classmates in programming</span></p>
    </div>
</div>