.head {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none;
    background-image: linear-gradient(#0f246318 0.9px, transparent 0.9px), linear-gradient(to right, #0f246313 0.9px, rgba(248, 252, 252, 0.74) 0.9px);
    background-size: 18px 18px;
}

.wrapper1{
    display: flex;
    width: 100%;
    height: calc(100vh -80px);
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    overflow: hidden;
}

.wrapper1::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top:40%;
    background: linear-gradient(45deg, #7f00ff,pink);
    animation: object1;
}

.cols{
    width: 50%;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color:#2a262e ;
}

h1{
    display: block;
    font-size: 4em;
    font-weight: 900;
    color: #3d535f;
}

.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}

p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}

.btns{
    width: 100%;
    position: relative;
    left: 150px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover{
    background-color: #7f00ff;
}

.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 60px);
    top: -150px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}


/*Animations*/
@keyframes animateUser {
    50%{
        right: 30px;
        top: -90px;
    }
}

.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50%{
        right: 49%;
        top: 51%;
        width: 155%;

    }
}

/*LINKS*/

.wrapper .button{
    display:block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    float: left;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}


.wrapper .button a{
    color: black;
    text-decoration: none;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button .icon{
    display:inline-block;
    height: 60px;
    text-align: center;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #E1306C;
}

.wrapper .button .icon i{
    font-size: 25px;    
    line-height: 60px;
    transition: all 0.3s ease-out;
    font-family: 'poppins' sans-serif;
}

.wrapper .button:hover .icon i{
    color: #fff;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    font-family: 'poppins' sans-serif;
    transition: all 0.3s ease-out;
}


.wrapper .button:nth-child(1) span{
    color: #4267B2;
}
.wrapper .button:nth-child(2) span{
    color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
    color: #333;
}
.wrapper .button:nth-child(4) span{
    color: #4267B2;
}
.wrapper .button:nth-child(5) span{
    color: #E1306C;
}
