<div class="head">
    <div class="head_container" [appAnimation]="2" >
        <h1 class="animate-bounce delay-150 duration-300 ...">🌍 Hello the world ! 🌍</h1>
        <p class="debut">I'm <span (click)="goOnPageMe()">TIENTCHEU ISRAEL</span></p>
        <p class="debut2">Also often called <span (click)="goOnPageMe()">TILSTACK.</span></p>
    </div>
    <div class="line"></div>
    <div class="paragraph"[appAnimation]="3">
        <p><span>My goal is to perform well in each mobile/web projects given to me.</span></p>
        <p><span>And of course improve myself in programming</span></p>
    </div>  
    <div class="classe-social" [appAnimation]="4">
        <ul class="sci">
            <!-- <li>
                <a href="https://www.facebook.com/israel.tientcheu" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li> -->
            <li>
                <a href="https://twitter.com/israelTientcheu" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="www.linkedin.com/in/israel-tientcheu-12278b298" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://github.com/TilStack" class="github"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <!-- <li>
                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li> -->
        </ul>
    </div>
    <div class="downoald" [appAnimation]="5">
        <a href="mycv.pdf" download>Downoald my Cv <fa-icon [icon]="faArrowRight"></fa-icon></a>   
    </div>
</div>