<div class="head">
    <div class="container1">
        <div class="worktitle">
            <div class="title">
                <h1>About my Work ?</h1>
            </div>
            <p [appAnimation]="2" >Explore together my entire professional journey 
                and my career as an application developer, from my professional experiences to my achievements. 
                The best is yet to come</p>
        </div>

        <div class="works">            
            <div class="card1-work">
                <div class="title">
                    <h2>Devpea WebSite </h2>
                </div>
                <div class="content">
                     <div class="image"> 
                       <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                    </div>
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>PROJECT TO PUT ON THE WEB A SHOWCASE WEBSITE PRESENTING THE BUSINESS IN THE FUTURE CALLED DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <div class="firsttitle">
                                    Periode
                                </div>
                                <span>12/12/2022 - 12/12/2023</span>
                                <div class="firsttitle">
                                    Status
                                </div>
                                <span class= "cardet">Finished...</span>
                                <div class="firsttitle">Technologies</div>
                                <div class="tech1">
                                    <div class="card-tech">Angular</div>
                                    <div class="card-tech">Firebase</div>
                                    <div class="card-tech">TypeScript</div>
                                </div>
                                <div class="firsttitle" >
                                    Company
                                </div>
                                <div class="company">
                                    <div class="logo">
                                        <img src="../../assets/img/3.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Devpea</span>
                                        <a href="http://devpea.tech"> ( View site ) </a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card2-work">
                <div class="title">
                    <h2>DOFA MOBILE APP </h2>
                </div>
                <div class="content">                     
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>Projet de mise sur le web d'un site web vitrine presentant l'entreprise en devebnir appelé DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Periode <span></span>
                                </li>
                                <li>
                                    Status <span></span>
                                </li>
                                <li class="tech1">Technologies</li>
                                <li class="tech2">
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                </li>
                                <li >
                                    Entreprise
                                </li>
                                <li class="company">

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="image"> 
                        <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                     </div>
                </div>
            </div>
            <div class="card3-work">
                <div class="title">
                    <h2>LEVEFLY MOBILE APP </h2>
                </div>
                <div class="content">                    
                    <div class="image"> 
                        <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                     </div>                    
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>Projet de mise sur le web d'un site web vitrine presentant l'entreprise en devebnir appelé DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Periode <span></span>
                                </li>
                                <li>
                                    Status <span></span>
                                </li>
                                <li class="tech1">Technologies</li>
                                <li class="tech2">
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                </li>
                                <li >
                                    Entreprise
                                </li>
                                <li class="company">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card4-work">
                <div class="title">
                    <h2>BAYARM MOBILE APP </h2>
                </div>
                <div class="content">                     
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>Projet de mise sur le web d'un site web vitrine presentant l'entreprise en devebnir appelé DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Periode <span></span>
                                </li>
                                <li>
                                    Status <span></span>
                                </li>
                                <li class="tech1">Technologies</li>
                                <li class="tech2">
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                </li>
                                <li >
                                    Entreprise
                                </li>
                                <li class="company">

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="image"> 
                        <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                     </div>
                </div>
            </div>
            <div class="card5-work">
                <div class="title">
                    <h2>MYCAGNOTTE WEB APP </h2>
                </div>
                <div class="content">                    
                    <div class="image"> 
                        <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                     </div>                    
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>Projet de mise sur le web d'un site web vitrine presentant l'entreprise en devebnir appelé DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Periode <span></span>
                                </li>
                                <li>
                                    Status <span></span>
                                </li>
                                <li class="tech1">Technologies</li>
                                <li class="tech2">
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                </li>
                                <li >
                                    Entreprise
                                </li>
                                <li class="company">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>