<div class="head">
  <div class="container1">
    <div class="worktitle">
      <div class="title">
        <h1>{{ "works_container1_worktitle_title_h1" | translate }}</h1>
      </div>
      <p [appAnimation]="2">{{ "works_container1_worktitle_p" | translate }}</p>
    </div>

    <div class="works">
      <div class="card1-work">
        <div class="title">
          <h2>Devpea WebSite</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="image">
            <a href=""><img src="../../assets/img/devpea.jpg" alt="site" /></a>
          </div>
          <div class="caracteristique">
            <div class="desc">
              <a href="https://devpea.com">
                <i class="pi pi-share-alt" style="font-size: 2.5rem"></i>
                <!-- <fa-icon [icon]="faShare"></fa-icon> -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card1_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span>03/02/2023 - 12/12/2023</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_status"
                      | translate
                  }}
                </div>
                <span class="cardet">Finished...</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Angular</div>
                  <!-- <div class="card-tech">Firebase</div> -->
                  <div class="card-tech">TypeScript</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/devpea_logo.jpeg" alt="" />
                  </div>
                  <div class="name">
                    <span>Devpea</span>
                    <a href="http://devpea.com">
                      (
                      {{
                        "works_container1_works_card1_work_content_cont_company_name_a"
                          | translate
                      }}
                      )
                    </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card2-work">
        <div class="title">
          <h2>DOFA MOBILE APP</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="caracteristique">
            <div class="desc">
              <a
                href="https://www.youtube.com/watch?v=nRLLwp7SITg&ab_channel=DevPeaTM"
              >
                <!-- <fa-icon [icon]="faShare"></fa-icon> -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card2_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">Periode</div>
                <span>23/12/2022 - 20/05/2024</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span class="cardet">Finished...</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Flutter</div>
                  <div class="card-tech">Firebase</div>
                  <div class="card-tech">Dart</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/devpea_logo.jpeg" alt="" />
                  </div>
                  <div class="name">
                    <span>Devpea</span>
                    <a
                      href="https://www.youtube.com/watch?v=nRLLwp7SITg&ab_channel=DevPeaTM"
                    >
                      ( View site )
                    </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="image">
            <a href="https://app-dofa.devpea.com">
              <video controls>
                <source src="../../assets/png/dofa.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </a>
          </div>
        </div>
      </div>
      <div class="card3-work">
        <div class="title">
          <h2>LEVEFLY MOBILE APP</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="image">
            <a href="#"
              ><img id="rr" src="../../assets/png/unnamed.png" alt="site"
            /></a>
          </div>
          <div class="caracteristique">
            <div class="desc">
              <a href="#">
                <!-- <fa-icon [icon]="faShare"></fa-icon>  -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card3_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span>12/12/2022 - 12/12/2023</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_status"
                      | translate
                  }}
                </div>
                <span class="cardet">being processed...</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Flutter</div>
                  <div class="card-tech">NestJS</div>
                  <div class="card-tech">PostgreSQL</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/levegi.jpg" alt="" />
                  </div>
                  <div class="name">
                    <span>LEVEGI SARL</span>
                    <a href="http://devpea.com"> ( View site ) </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card4-work">
        <div class="title">
          <h2>BAYARM MOBILE APP</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="caracteristique">
            <div class="desc">
              <a
                href="https://www.youtube.com/watch?v=Qr39Rn3EjpY&ab_channel=DevPeaTM"
              >
                <!-- <fa-icon [icon]="faShare"></fa-icon> -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card4_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span>12/12/2022 - 12/12/2023</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_status"
                      | translate
                  }}
                </div>
                <span class="cardet">being processed...</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Flutter</div>
                  <div class="card-tech">Firebase</div>
                  <div class="card-tech">Dart</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/devpea_logo.jpeg" alt="" />
                  </div>
                  <div class="name">
                    <span>Devpea</span>
                    <a href="http://devpea.com"> ( View site ) </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="image">
            <a
              href="https://www.youtube.com/watch?v=Qr39Rn3EjpY&ab_channel=DevPeaTM"
              ><img src="../../assets/img/bayarm.jpeg" alt="site"
            /></a>
          </div>
        </div>
      </div>
      <div class="card5-work">
        <div class="title">
          <h2>MYCAGNOTTE WEB APP</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="image">
            <a href=""
              ><img src="../../assets/png/cagnotte1.png" alt="site"
            /></a>
          </div>
          <div class="caracteristique">
            <div class="desc">
              <a href="https://mycagnotte.app">
                <!-- <fa-icon [icon]="faShare"></fa-icon>  -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card5_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span>12/12/2022 - 12/12/2023</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_status"
                      | translate
                  }}
                </div>
                <span class="cardet">being processed...</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Angular</div>
                  <div class="card-tech">NestJS</div>
                  <div class="card-tech">PostgreSQL</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/levegi.jpg" alt="" />
                  </div>
                  <div class="name">
                    <span>Levegi Sarl</span>
                    <a href="http://devpea.com">
                      (
                      {{
                        "works_container1_works_card1_work_content_cont_company_name_a"
                          | translate
                      }}
                      )
                    </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card6-work">
        <div class="title">
          <h2>MYPOKEMON WEB APP</h2>
        </div>
        <div class="content" [appAnimation]="2">
          <div class="caracteristique">
            <div class="desc">
              <a href="https://tilpokemon.web.app">
                <!-- <fa-icon [icon]="faShare"></fa-icon>  -->
                {{
                  "works_container1_works_card1_work_content_desc_a" | translate
                }}</a
              >
              <p>
                {{
                  "works_container1_works_card6_work_content_desc_p" | translate
                }}
              </p>
            </div>
            <div class="cont">
              <ul>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_periode"
                      | translate
                  }}
                </div>
                <span>10/05/2023 - 22/05/2023</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_status"
                      | translate
                  }}
                </div>
                <span class="cardet">Finised</span>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card6_work_content_cont_firsttitle_technologies"
                      | translate
                  }}
                </div>
                <div class="tech1">
                  <div class="card-tech">Angular</div>
                  <div class="card-tech">Firebase</div>
                </div>
                <div class="firsttitle">
                  {{
                    "works_container1_works_card1_work_content_cont_firsttitle_company"
                      | translate
                  }}
                </div>
                <div class="company">
                  <div class="logo">
                    <img src="../../assets/img/me.jpeg" alt="" />
                  </div>
                  <div class="name">
                    <span>{{
                      "works_container1_works_card6_work_content_cont_company_name_span"
                        | translate
                    }}</span>
                    <a href="/aboutme">
                      (
                      {{
                        "works_container1_works_card6_work_content_cont_company_name_a"
                          | translate
                      }}
                      )
                    </a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="image">
            <a
              href="https://www.youtube.com/watch?v=Qr39Rn3EjpY&ab_channel=DevPeaTM"
              ><img src="../../assets/png/pokemon1.png" alt="site"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
