<div class="head">
    <div class="container1">
        <div class="worktitle">
            <div class="title">
                <h1>About my Work ?</h1>
            </div>
            <p [appAnimation]="2" >Explore together my entire professional journey 
                and my career as an application developer, from my professional experiences to my achievements. 
                The best is yet to come</p>
        </div>

        <div class="works">            
            <div class="card1-work">
                <div class="title">
                    <h2>Devpea WebSite </h2>
                </div>
                <div class="content">
                     <div class="image"> 
                       <a href=""><img src="../../assets/img/me.jpeg" alt="site"></a>              
                    </div>
                    <div class="caracteristique">
                        <div class="desc">
                            <a href="#"> <fa-icon [icon]="faShare"></fa-icon> View demo</a>
                            <p>Projet de mise sur le web d'un site web vitrine presentant l'entreprise en devebnir appelé DEVPEA</p>
                        </div>
                        <div class="cont">
                            <ul>
                                <li>
                                    Periode <span></span>
                                </li>
                                <li>
                                    Status <span></span>
                                </li>
                                <li class="tech1">Technologies</li>
                                <li class="tech2">
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                    <div class="card-tech"></div>
                                </li>
                                <li >
                                    Entreprise
                                </li>
                                <li class="company">

                                </li>
                                <li >
                                    Personnes ayant travailler
                                </li>
                                <li class="worker">
                                    <div class="pers"></div>
                                    <div class="pers"></div>
                                    <div class="pers"></div>
                                    <div class="pers"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>